.contents
  .contents__container
    %h2 登録情報の変更
    = form_with model: @user, url: user_registration_path, id: 'new_user', class: 'contents__container__new', local: true do |f|
      = devise_error_messages!
      .field
        = f.label :nickname
        %em (最大6文字)
        %br/
        = f.text_field :nickname, autofocus: true, maxlength: "6"
      .field
        = f.label :email
        %br/
        = f.email_field :email
      .field
        = f.label :password
        %i (leave blank if you don't want to change it)
        - if @validatable
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "off"
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "off"
      .field
        = f.label :current_password
        %i (we need your current password to confirm your changes)
        %br/
        = f.password_field :current_password, autocomplete: "current-password"
      .actions
        = f.submit "編集する"