.edit_recipe_contents
  - @recipe.errors.full_messages.each do |message|
    .form-error
      = message
  .edit_recipe_contents__edit
    = form_with(model: @recipe, local: true) do |form|
      %h3.edit_recipe_contents__edit__title 編集する
      .recipe__block__form
        .recipe__block__form__upload
          %h3.recipe__block__form__upload__head
            レシピ画像
            %span.require 必須
          %p 最大5枚までアップロードできます
          .post__drop__box__container
            .prev-content

              //JSで挿入したhtmlと同じ形 each文でのプレビュー表示
              - @recipe.images.each_with_index do |image,i|
                .preview-box
                  .upper-box
                    = image_tag image.src.url, width: "112", height: "112", alt: "preview"
                  .lower-box
                    .delete-box
                      .delete-btn{data:{delete_id: i}} 削除
            .label-content

              //プレビューの数に合わせてforオプションを指定
              = form.label :"images_attributes_#{@recipe.images.length}_src", class: "label-box" do
                %pre.label-box__text-visible クリックしてファイルをアップロード
            .hidden-content
              = form.fields_for :images do |i|

                //プレビューが出ている分のfile_fieldとdelete用のチェックボックスを設置
                = i.file_field :src,class:"recipe-hidden-field"
                = i.check_box:_destroy

                //5つのfile_fieldを準備するに当たって、足りない分を表示
              - @recipe.images.length.upto(4) do |i|
                %input{name: "recipe[images_attributes][#{i}][src]", id: "recipe_images_attributes_#{i}_src", class:"recipe-hidden-field", type:"file"}
      = form.text_field :name, placeholder: "料理名", class: "edit_recipe_contents__edit__text"
      = form.text_area :explanation, placeholder: "説明", rows: "5"
      .foodstuff-area
        = form.fields_for :foodstuffs do |foodstuff|
          .js-file-group{ data: {index: "#{foodstuff.index}"} }
            .foodstuff-box_title
              材料
            .foodstuff-box_form
              = foodstuff.text_field :foodstuff
            .foodstuff-box_quantity
              数量
            .foodstuff-box_form
              = foodstuff.text_field :quantity
              - if @recipe.persisted?
                = foodstuff.check_box :_destroy, data:{ index: foodstuff.index }, class: "hidden-destroy"
      .add-form-btn
        材料を追加する
      .how-area
        = form.fields_for :hows do |how|
          .js-file-group_how{ data: {index: "#{how.index}"} }
            %label.how-box_title
              %i.fas.fa-camera.fa-4x
              = how.file_field :image, class: "hidden-btn", id: "myfile"
              %img#img1{style: "width:100px;height:100px;"}
            .how-box_how
              作り方
            .how-box_form
              = how.text_area :how
              - if @recipe.persisted?
                = how.check_box :_destroy, data:{ index: how.index }, class: "hidden-destroy_how"
      .add-form-btn_how
        作り方を追加する
      = form.submit "編集", class: "edit_recipe_contents__edit__send"