.edit_recipe_contents
  - @recipe.errors.full_messages.each do |message|
    .form-error
      = message
  .edit_recipe_contents__edit
    = form_with(model: @recipe, local: true) do |form|
      %h3.edit_recipe_contents__edit__title 編集する
      .recipe__block__form
        .recipe__block__form__upload
          %h3.recipe__block__form__upload__head
            レシピ画像
            %span.require 必須
          %p 最大5枚までアップロードできます
          .post__drop__box__container
            .prev-content

              //JSで挿入したhtmlと同じ形 each文でのプレビュー表示
              - @recipe.images.each_with_index do |image,i|
                .preview-box
                  .upper-box
                    = image_tag image.src.url, width: "112", height: "112", alt: "preview"
                  .lower-box
                    .update-box
                      .edit-btn 編集
                    .delete-box
                      .delete-btn{data:{delete_id: i}} 削除
            .label-content

              //プレビューの数に合わせてforオプションを指定
              = form.label :"images_attributes_#{@recipe.images.length}_src", class: "label-box" do
                %pre.label-box__text-visible クリックしてファイルをアップロード
            .hidden-content
              = form.fields_for :images do |i|

                //プレビューが出ている分のfile_fieldとdelete用のチェックボックスを設置
                = i.file_field :src,class:"hidden-field"
                = i.check_box:_destroy

                //5つのfile_fieldを準備するに当たって、足りない分を表示
              - @recipe.images.length.upto(4) do |i|
                %input{name: "recipe[images_attributes][#{i}][src]", id: "recipe_images_attributes_#{i}_src", class:"hidden-field", type:"file"}
      = form.text_field :name, placeholder: "料理名", class: "edit_recipe_contents__edit__text"
      = form.text_area :material, placeholder: "材料", rows: "5"
      = form.text_area :text, placeholder: "作り方", rows: "10"
      = form.submit "編集", class: "edit_recipe_contents__edit__send"