.searchbar
  = form_with url: search_recipes_path, local: true, method: :get, class: "form" do |f|
    = f.text_field :keyword, placeholder: "レシピの検索", class: "searchbar-input"
    = button_tag type: 'submit', class: 'search-btn' do
      .searchbar__icon
        = image_tag ("icon-search 1.png"), class: "searchicon"
.contents
  - @recipes.each do |recipe|
    .contents__index{style: "background-image: url(#{recipe.images.first.src.url});"}
      = link_to "詳細", recipe_path(recipe.id), class: "contents__index__link"
      %p= recipe.name
      %span.name
        %a{href: "/users/#{recipe.user.id}"}
          %span 投稿者
          = recipe.user.nickname
- if user_signed_in?
  = link_to new_recipe_path, id: "#button", class: "new_recipe_btn" do
    .exhibitionBtn__box
      .exhibitionbox__text
        レシピ投稿
      %i.fas.fa-hotdog.fa-3x