.new_recipe_contents
  - @recipe.errors.full_messages.each do |message|
    .form-error
      = message
  .new_recipe_contents__new
    = form_with(model: @recipe, local: true) do |form|
      %h3.new_recipe_contents__new__title レシピの投稿
      .sell__block__form__upload
        %h3.sell__block__form__upload__head
          レシピ画像
          %span.require 必須
        %p 最大5枚までアップロードできます
        .post__drop__box__container
          .prev-content
          .label-content
            %label{for: "item_images_attributes_0_image", class: "label-box"}
              %pre.label-box__text-visible クリックしてファイルをアップロード
          .hidden-content
            = form.fields_for :images ,multiple: true do |i|
              = i.file_field :image,class:"hidden-field"
              %input{class:"hidden-field", type: "file", name: "item[images_attributes][1][image]", id: "item_images_attributes_1_image" }
              %input{class:"hidden-field", type: "file", name: "item[images_attributes][2][image]", id: "item_images_attributes_2_image" }
              %input{class:"hidden-field", type: "file", name: "item[images_attributes][3][image]", id: "item_images_attributes_3_image" }
              %input{class:"hidden-field", type: "file", name: "item[images_attributes][4][image]", id: "item_images_attributes_4_image" }
      = form.text_field :name, placeholder: "料理名", class: "new_recipe_contents__new__text"
      = form.text_area :material, placeholder: "材料", rows: "5"
      = form.text_area :text, placeholder: "作り方", rows: "10"
      = form.submit "投稿する", class: "new_recipe_contents__new__send"