.new_recipe_contents
  - @recipe.errors.full_messages.each do |message|
    .form-error
      = message
  .new_recipe_contents__back
    = link_to 'Topに戻る', recipes_path, method: :get
  .new_recipe_contents__new
    = form_with(model: [@tag, @recipe], local: true) do |form|
      %h3.new_recipe_contents__new__title レシピの投稿
      .recipe__block__form
        .recipe__block__form__upload
          %h3.recipe__block__form__upload__head
            レシピ画像
            %span.require 必須
          %p 最大5枚までアップロードできます
          .post__drop__box__container
            .prev-content
            .label-content
              %label{for: "recipe_images_attributes_0_src", class: "label-box"}
                %pre.label-box__text-visible クリックしてファイルをアップロード
            .hidden-content
              = form.fields_for :images, multiple: true do |i|
                = i.file_field :src, class:"recipe-hidden-field"
                %input{class:"recipe-hidden-field", type: "file", name: "recipe[images_attributes][1][src]", id: "recipe_images_attributes_1_src" }
                %input{class:"recipe-hidden-field", type: "file", name: "recipe[images_attributes][2][src]", id: "recipe_images_attributes_2_src" }
                %input{class:"recipe-hidden-field", type: "file", name: "recipe[images_attributes][3][src]", id: "recipe_images_attributes_3_src" }
                %input{class:"recipe-hidden-field", type: "file", name: "recipe[images_attributes][4][src]", id: "recipe_images_attributes_4_src" }
      = form.label :name, "レシピ名", class: "new_recipe_contents__new__label"
      %span.new_recipe_contents__new__mandatory 必須
      = form.text_field :name, placeholder: "料理名", class: "new_recipe_contents__new__text"
      = form.label :tag_name, "タグ", class: "new_recipe_contents__new__label"
      %span.new_recipe_contents__new__any 任意
      = form.text_field :tag_name, placeholder: "レシピに関するタグをカンマで区切りで3つまで入力(例 カレー,定番料理 )", class: "new_recipe_contents__new__text"
      = form.label :explanation, "レシピの説明", class: "new_recipe_contents__new__label"
      %span.new_recipe_contents__new__mandatory 必須
      = form.text_area :explanation, placeholder: "説明", rows: "5"
      .foodstuff-area
        = form.label :foodstuffs, "材料(15個まで追加可能)", class: "new_recipe_contents__new__label"
        %span.new_recipe_contents__new__mandatory 必須
        = form.fields_for :foodstuffs do |foodstuff|
          .js-file-group{ data: {index: "#{foodstuff.index}"} }
            .foodstuff-box_title
              材料
            .foodstuff-box_form
              = foodstuff.text_field :foodstuff, placeholder: "例)小麦粉"
            .foodstuff-box_quantity
              数量
            .foodstuff-box_form
              = foodstuff.text_field :quantity, placeholder: "例)100g"
      .add-form-btn
        材料を追加する
      .how-area
        = form.label :hows, "作り方(15個まで追加可能)", class: "new_recipe_contents__new__label"
        %span.new_recipe_contents__new__mandatory 必須
        = form.fields_for :hows do |how|
          .js-file-group_how{ data: {index: "#{how.index}"} }
            .how-box_how
              作り方
            .how-box_form
              = how.text_area :how, placeholder: "例)卵を加えてかき混ぜる", rows: "5"
      .add-form-btn_how
        作り方を追加する
      = form.submit "投稿する", class: "new_recipe_contents__new__send"