.new_recipe_contents
  - @recipe.errors.full_messages.each do |message|
    .form-error
      = message
  .new_recipe_contents__new
    = form_with(model: @recipe, local: true) do |form|
      %h3.new_recipe_contents__new__title レシピの投稿
      .recipe__block__form
        .recipe__block__form__upload
          %h3.recipe__block__form__upload__head
            レシピ画像
            %span.require 必須
          %p 最大5枚までアップロードできます
          .post__drop__box__container
            .prev-content
            .label-content
              %label{for: "recipe_images_attributes_0_src", class: "label-box"}
                %pre.label-box__text-visible クリックしてファイルをアップロード
            .hidden-content
              = form.fields_for :images, multiple: true do |i|
                = i.file_field :src, class:"recipe-hidden-field"
                %input{class:"recipe-hidden-field", type: "file", name: "recipe[images_attributes][1][src]", id: "recipe_images_attributes_1_src" }
                %input{class:"recipe-hidden-field", type: "file", name: "recipe[images_attributes][2][src]", id: "recipe_images_attributes_2_src" }
                %input{class:"recipe-hidden-field", type: "file", name: "recipe[images_attributes][3][src]", id: "recipe_images_attributes_3_src" }
                %input{class:"recipe-hidden-field", type: "file", name: "recipe[images_attributes][4][src]", id: "recipe_images_attributes_4_src" }
      = form.text_field :name, placeholder: "料理名", class: "new_recipe_contents__new__text"
      = form.text_area :explanation, placeholder: "説明", rows: "5"
      = form.text_area :material, placeholder: "材料", rows: "5"
      = form.text_area :text, placeholder: "作り方", rows: "10"
      = form.submit "投稿する", class: "new_recipe_contents__new__send"