.recipe_show_contents
  .recipe_show_contents__show{style: "background-image: url(#{@recipe.images.first.src.url});"}
  .recipe_show_contents__box
    .recipe_show_contents__box__list
      - @recipe.images.each_with_index do |image, i|
        .image-list__item
          = image_tag image.src.url, alt: "画像", class: "image-index-#{i}"
    .recipe_name= @recipe.name
    - if user_signed_in? && current_user.id == @recipe.user_id
      %ul.btn
        %li.material-btn
          = link_to '編集', edit_recipe_path(@recipe.id), method: :get
        %li.material-btn
          = link_to '削除', recipe_path(@recipe.id), method: :delete
    .show_name
      = link_to "投稿者 #{@recipe.user.nickname}", "/users/#{@recipe.user_id}"
    .show_likes
      %p
        いいね件数: #{@recipe.recipe_likes.count}
      - if current_user.already_liked?(@recipe)
        = button_to 'いいねを取り消す', recipe_recipe_like_path(@recipe), method: :delete
      - else
        = button_to 'いいね', recipe_recipe_likes_path(@recipe)
      %p
        いいねしたユーザー
      - @recipe.liked_users.each do |user|
        %li= user.nickname
    .recipe_show_contents__material
      %p 材料
      = @recipe.material
    .recipe_show_contents__how
      %p 作り方
      = @recipe.text
  .recipe_show_contents__container
    - if current_user
      = form_with(model: [@recipe, @comment], local: true, id: "new_comment") do |form|
        = form.text_area :text, placeholder: "コメントを入力", rows: "2", class: "recipe_show_contents__container__text"
        = form.submit "投稿する", class: "recipe_show_contents__container__send"
    - else
      %strong
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .recipe_show_contents__container__comments
      %h4 ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          %p.recipe_show_contents__container__comments__main
            %strong
              = link_to comment.user.nickname, "/users/#{comment.user_id}"
              ：
            = comment.text
            