.recipe_show_contents
  .recipe_show_contents__box
    .box_child
      .box_grandchild
        %p.recipe_name= @recipe.name
        - if user_signed_in? && current_user.id == @recipe.user_id
          %ul.btn
            %li.material-btn
              = link_to '編集', edit_recipe_path(@recipe.id), method: :get
            %li.material-btn
              = link_to '削除', recipe_path(@recipe.id), method: :delete
        .show_name
          = link_to "投稿者 #{@recipe.user.nickname}", "/users/#{@recipe.user_id}"
        - if current_user.already_liked?(@recipe)
          = link_to recipe_recipe_like_path(@recipe), method: :delete do
            %i.fas.fa-heart.like_heart
        - else
          = link_to recipe_recipe_likes_path(@recipe), method: :post do
            %i.far.fa-heart.unlike_heart
        %span
          #{@recipe.recipe_likes.count}
        .box_grandchild__photo{style: "background-image: url(#{@recipe.images.first.src.url});"}
        .box_grandchild__list
          - @recipe.images.each_with_index do |image, i|
            .image-list__item
              = image_tag image.src.url, alt: "画像", class: "image-index-#{i}"
      .box_grandchild2
        .recipe_show_contents__explanation
          %p 説明
          .recipe_show_contents__explanation__sentence
            = @recipe.explanation
        .recipe_show_contents__foodstuff
          %p 材料
          - @recipe.foodstuffs.each_with_index do |foodstuff|
            .recipe_show_contents__foodstuff__container
              = link_to foodstuff.foodstuff, "/materials/search?keyword=#{foodstuff.foodstuff}&button=", method: :get
              .recipe_show_contents__foodstuff__container__quantity
                = foodstuff.quantity
    .box_child2
      %p 作り方
      .recipe_show_contents__how.how-grid
        - @recipe.hows.each_with_index do |how|
          .recipe_show_contents__how__box
            .how-image
              = image_tag how.image.url
              = how.how
  .recipe_show_contents__container
    - if current_user
      = form_with(model: [@recipe, @comment], local: true, id: "new_comment") do |form|
        = form.text_area :text, placeholder: "コメントを入力", rows: "2", class: "recipe_show_contents__container__text"
        = form.submit "投稿する", class: "recipe_show_contents__container__send"
    - else
      %strong
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .recipe_show_contents__container__comments
      %h4 ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          %p.recipe_show_contents__container__comments__main
            %strong
              = link_to comment.user.nickname, "/users/#{comment.user_id}"
              ：
            = comment.text
            - if user_signed_in? && current_user.id == comment.user_id
              %span.comment-delete
                = link_to '削除', recipe_comment_path(@recipe, comment), method: :delete
            