.contents
  .contents__show{style: "background-image: url(#{@recipe.images.first.src.url});"}
    %p= @recipe.name
    %span.name
      %a{href: "/users/#{@recipe.user.id}"}
        %span 投稿者
        = @recipe.user.nickname
  .contents__box
    .contents__box__list
      - @recipe.images.each_with_index do |image, i|
        .image-list__item
          = image_tag image.src.url, alt: "画像", class: "image-index-#{i}"
    %h3
      いいね件数: #{@recipe.recipe_likes.count}
    - if current_user.already_liked?(@recipe)
      = button_to 'いいねを取り消す', recipe_recipe_like_path(@recipe), method: :delete
    - else
      = button_to 'いいね', recipe_recipe_likes_path(@recipe)
    %h2
      いいねしたユーザー
    - @recipe.liked_users.each do |user|
      %li= user.nickname
    .contents__material
      %p 材料
      = @recipe.material
    .contents__how
      %p 作り方
      = @recipe.text
  - if user_signed_in? && current_user.id == @recipe.user_id
    .list
      %p
        = link_to '編集', edit_recipe_path(@recipe.id), method: :get
      %p
        = link_to '削除', recipe_path(@recipe.id), method: :delete
  .contents__container
    - if current_user
      = form_with(model: [@recipe, @comment], local: true, id: "new_comment") do |form|
        = form.text_area :text, placeholder: "コメントを入力", rows: "2", class: "contents__container__text"
        = form.submit "投稿する", class: "contents__container__send"
    - else
      %strong
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .contents__container__comments
      %h4 ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          %p.contents__container__comments__main
            %strong
              = link_to comment.user.nickname, "/users/#{comment.user_id}"
              ：
            = comment.text