.recipe_show_contents
  .recipe_show_contents__box
    .box_child
      .box_grandchild
        %p.recipe_name= @recipe.name
        .box_grandchild__tags
          - @recipe.tags.first(3).each do |tag|
            %span #
            = link_to tag.tag_name, "/recipes/search?q%5Bname_or_foodstuffs_foodstuff_or_tags_tag_name_cont%5D=#{tag.tag_name}&button=", method: :get
        - if user_signed_in? && current_user.id == @recipe.user_id
          %ul.btn
            %li.material-btn
              = link_to '編集', edit_recipe_path(@recipe.id), method: :get
            %li.material-btn
              = link_to '削除', recipe_path(@recipe.id), method: :delete
        .show_name
          = link_to "投稿者 #{@recipe.user.nickname}", "/users/#{@recipe.user_id}"
          .follow_and_favorite
            - if user_signed_in? && current_user != @recipe.user
              .follow_button{id: "follow-button-#{@recipe.user_id}"}
                - if current_user.following?(@recipe.user)
                  = render 'relationships/unfollow_button', user: @recipe.user
                - else
                  = render 'relationships/follow_button', user: @recipe.user
            .like_button{id: "recipe_like-#{@recipe.id}"}
              = render 'recipe_likes/like', {recipe: @recipe}
        .box_grandchild__photo{style: "background-image: url(#{@recipe.images.first.src.url});"}
        .box_grandchild__list
          - @recipe.images.each_with_index do |image, i|
            .image-list__item
              = image_tag image.src.url, alt: "画像", class: "image-index-#{i}"
      .box_grandchild2
        .recipe_show_contents__explanation
          %p 説明
          .recipe_show_contents__explanation__sentence
            = @recipe.explanation
        .recipe_show_contents__foodstuff
          %p 材料
          - @recipe.foodstuffs.each_with_index do |foodstuff|
            .recipe_show_contents__foodstuff__container
              = link_to foodstuff.foodstuff, "/materials/search?keyword=#{foodstuff.foodstuff}&button=", method: :get
              .recipe_show_contents__foodstuff__container__quantity
                = foodstuff.quantity
        %p.recipe_show_contents__annotation
          ※ 材料名をクリックすると材料検索画面にリンクします
    .box_child2
      %p 作り方
      .recipe_show_contents__how
        - @recipe.hows.each_with_index do |how, index|
          .recipe_show_contents__how__box
            = "#{index + 1}: #{how.how}"
  .recipe_show_contents__container
    - if current_user
      = form_with(model: [@recipe, @comment], local: true, id: "new_comment") do |form|
        = form.text_area :text, placeholder: "コメントを入力", rows: "2", class: "recipe_show_contents__container__text"
        = form.submit "投稿する", class: "recipe_show_contents__container__send"
    - else
      %strong
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .recipe_show_contents__container__comments
      %h4 ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          %p.recipe_show_contents__container__comments__main
            %strong
              = link_to comment.user.nickname, "/users/#{comment.user_id}"
              ：
            = comment.text
            - if user_signed_in? && current_user.id == comment.user_id
              %span.comment-delete
                = link_to '削除', recipe_comment_path(@recipe, comment), method: :delete
            