.user-contents
  .user-box
    %h2 フォローしているユーザー
    - @followings.each do |user|
      .user-list
        = link_to "#{user.nickname}", user_path(user.id)
        - if user_signed_in? && current_user != user
          .follow_button{id: "follow-button-#{user.id}"}
            - if current_user.following?(user)
              = render 'relationships/unfollow_button', user: user
            - else
              = render 'relationships/follow_button', user: user
    %h2 あなたをフォローしているユーザー
    - @followers.each do |user|
      .user-list
        = link_to "#{user.nickname}", user_path(user.id)
        - if user_signed_in? && current_user != user
          .follow_button{id: "follow-button-#{user.id}"}
            - if current_user.following?(user)
              = render 'relationships/unfollow_button', user: user
            - else
              = render 'relationships/follow_button', user: user
