.mypage-contents
  .mypage-box
    .mypage-name
      %p
        = "#{current_user.nickname}のマイページ"
    .mypage-list
      %p
        = link_to 'ユーザー情報の編集', edit_user_registration_path, method: :get, class:"user_edit"
    .mypage-list
      %p
        = link_to 'フォロー一覧', users_path, method: :get, class:"user_edit"
    .mypage-list
      %p
        = link_to '投稿・いいね一覧', user_path(current_user), method: :get, class:"user_edit"