.user_show_contents
  %p.contents__title
    = @nickname
    さんのレシピ投稿一覧
    - if user_signed_in? && current_user != @user
      %div{id: "follow-button-#{@user.id}"}
        - if current_user.following?(@user)
          = render 'relationships/unfollow_button', user: @user
        - else
          = render 'relationships/follow_button', user: @user
  .grid
    - @recipes.each do |recipe|
      .item
        = link_to image_tag("#{recipe.images.first.src.url}", class: "recipe-image"), recipe_path(recipe.id)
        %p= recipe.name
        %span.name
          %a{href: "/users/#{recipe.user.id}"}
            %span 投稿者
            = recipe.user.nickname
        %i.fas.fa-heart.index_heart
        %span.count= recipe.liked_users.count
.like_show_contents
  %p.contents__title
    = @nickname
    さんの材料投稿一覧
  .grid
    - @materials.each do |material|
      .item
        = link_to image_tag("#{material.material_images.first.src.url}", class: "material-image"), material_path(material.id)
        %p= material.name
        %span.name
          %a{href: "/users/#{material.user.id}"}
            %span 投稿者
            = material.user.nickname
        %i.fas.fa-heart.index_heart
        %span.count= material.liked_users.count
.like_show_contents
  %p.contents__title
    いいねしたレシピ一覧
  .grid
    - @liked_recipes.each do |recipe|
      .item
        = link_to image_tag("#{recipe.images.first.src.url}", class: "recipe-image"), recipe_path(recipe.id)
        %p= recipe.name
        %span.name
          %a{href: "/users/#{recipe.user.id}"}
            %span 投稿者
            = recipe.user.nickname
        %i.fas.fa-heart.index_heart
        %span.count= recipe.liked_users.count
.like_show_contents
  %p.contents__title
    いいねした材料一覧
  .grid
    - @liked_materials.each do |material|
      .item
        = link_to image_tag("#{material.material_images.first.src.url}", class: "material-image"), material_path(material.id)
        %p= material.name
        %span.name
          %a{href: "/users/#{material.user.id}"}
            %span 投稿者
            = material.user.nickname
        %i.fas.fa-heart.index_heart
        %span.count= material.liked_users.count