.header
  .headerIn
    .headermain
      %h1.headermain__icon
        = link_to root_path do
          = image_tag ("logo.png"),class: "logoimage"
      .searchbar
        = form_with url: "#", local: true, method: :get, class: "form" do |f|
          = f.text_field :keyword, placeholder: "キーワードから探す", class: "searchbar-input"
          = button_tag type: 'submit', class: 'search-btn' do
            .searchbar__icon
              = image_tag ("icon-search 1.png"), class: "searchicon"
    .tag
      %ul.lefttag
        %li.lefttag__item.leftta__item--first
          = link_to "カテゴリ", "#", class: "post"
        %li.lefttag__item
          = link_to  "ブランド", "#", class: "post"
        %ul.righttag
          %li.righttag__item
            = link_to "ログイン", "#", class: 'post'
          %li.righttag__item
            = link_to "新規会員登録", "#", class: 'post'