.header
  .headerIn
    .headermain
      %h1.headermain__icon
        = link_to "CookNavi", root_path
    .tag
      %ul.lefttag
        %li.lefttag__item.leftta__item--material
          = link_to "材料検索はこちら！", "/materials", class: "post"
      - if user_signed_in?
        %ul.righttag
          %li.righttag__item.righttag__item--login
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "post"
          %li.righttag__item.righttag__item--new
            = link_to  "マイページ", "/users/mypage", class: "post"
      - else
        %ul.righttag
          %li.righttag__item
            = link_to "ログイン", new_user_session_path, class: 'post'
          %li.righttag__item
            = link_to "新規会員登録", new_user_registration_path, class: 'post'