.new_material_contents
  - @material.errors.full_messages.each do |message|
    .form-error
      = message
  .new_material_contents__new
    = form_with(model: [@mtag, @material], local: true) do |form|
      %h3.new_material_contents__new__title 材料の投稿
      .material__block__form
        .material__block__form__upload
          %h3.material__block__form__upload__head
            材料画像
            %span.require 必須
          %p 最大5枚までアップロードできます
          .material_post__drop__box__container
            .material_prev-content
            .material_label-content
              %label{for: "material_material_images_attributes_0_src", class: "material_label-box"}
                %pre.material_label-box__text-visible クリックしてファイルをアップロード
            .material_hidden-content
              = form.fields_for :material_images, multiple: true do |i|
                = i.file_field :src, class:"material-hidden-field"
                %input{class:"material-hidden-field", type: "file", name: "material[material_images_attributes][1][src]", id: "material_material_images_attributes_1_src" }
                %input{class:"material-hidden-field", type: "file", name: "material[material_images_attributes][2][src]", id: "material_material_images_attributes_2_src" }
                %input{class:"material-hidden-field", type: "file", name: "material[material_images_attributes][3][src]", id: "material_material_images_attributes_3_src" }
                %input{class:"material-hidden-field", type: "file", name: "material[material_images_attributes][4][src]", id: "material_material_images_attributes_4_src" }
      = form.text_field :name, placeholder: "材料名", class: "new_material_contents__new__text"
      = form.text_field :tag_name, placeholder: "材料に関するタグをカンマで区切りで5つまで入力(例 たまねぎ,常備菜 )", class: "new_recipe_contents__new__text"
      = form.text_field :shop, placeholder: "購入したお店", class: "new_material_contents__new__text"
      = form.text_field :postcode, placeholder: "郵便番号", class: "new_material_contents__new__text"
      = form.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '都道府県' }, class: "new_material_contents__new__text"
      = form.text_field :address_city, placeholder: "市区町村番地", class: "new_material_contents__new__text"
      = form.text_field :address_building, placeholder: "建物名", class: "new_material_contents__new__text"
      = form.text_area :explanation, placeholder: "説明文", rows: "5"
      = form.submit "投稿する", class: "new_material_contents__new__send"