.searchbar
  = form_with url: search_materials_path, local: true, method: :get, class: "form" do |f|
    = f.text_field :keyword, placeholder: "材料を検索", class: "searchbar-input"
    = button_tag type: 'submit', class: 'search-btn' do
      .searchbar__icon
        = image_tag ("icon-search 1.png"), class: "searchicon"
.contents
  - @materials.each do |material|
    = link_to material.name, material_path(material.id), class: "material-name"