.material_show_contents
  .material_show_contents__show{style: "background-image: url(#{@material.material_images.first.src.url});"}
  .material_show_contents__box
    .material_show_contents__box__list
      - @material.material_images.each_with_index do |image, i|
        .image-list__item
          = image_tag image.src.url, alt: "画像", class: "image-index-#{i}"
    %p 材料名
    = @material.name
    - if user_signed_in? && current_user.id == @material.user_id
      %ul.btn
        %li.material-btn
          = link_to '編集', edit_material_path(@material.id), method: :get
        %li.material-btn
          = link_to '削除', material_path(@material.id), method: :delete
    %p 購入した場所
    .address_city= @material.prefecture_name + @material.address_city
    .address_building= @material.address_building
    .show_likes
    %p
      いいね件数: #{@material.material_likes.count}
    - if current_user.material_already_liked?(@material)
      = button_to 'いいねを取り消す', material_material_like_path(@material), method: :delete
    - else
      = button_to 'いいね', material_material_likes_path(@material)
    %p
      いいねしたユーザー
    - @material.liked_users.each do |user|
      %li= user.nickname
    地図を表示
    #map
  .material_show_contents__container
    - if user_signed_in?
      = form_with(model: [@material, @comment], local: true, id: "material_new_comment") do |form|
        = form.text_area :text, placeholder: "コメントする", rows: "2", class: "material_show_contents__container__text"
        = form.submit "SEND", class: "material_show_contents__container__send"
    - else
      %strong
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .material_show_contents__container__comments
      %h4 ＜コメント一覧＞
      - @comments.each do |comment|
        %p.material_show_contents__container__comments__main
          %strong
            = link_to comment.user.nickname, "/users/#{comment.user_id}"
            ：
          = comment.text