!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title Cooknavi
    = csrf_meta_tags
    = csp_meta_tag
    %link{href: "https://fonts.googleapis.com/css2?family=Philosopher&display=swap", rel: "stylesheet"}/
    %script{async: "", defer: "defer", src: "https://maps.googleapis.com/maps/api/js?key=#{ ENV['GOOGLE_MAP_API_KEY'] }&callback=initMap"}
    = include_gon
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    #wrapper
      = render 'shared/header'
      - if flash[:notice]
        .flash
          = flash[:notice]
      .cook-contents
        = yield
      = render 'shared/footer'
