!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Cooknavi
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
    %script{async: "", defer: "defer", src: "https://maps.googleapis.com/maps/api/js?key=&callback=initMap"}
  %body

    = render 'shared/header'
    = yield
    = render 'shared/footer'
